body {
	box-sizing: border-box;
}

.center {
	text-align: center;
	margin: auto;
	display: block;
	padding: 10px;
}

.col-form-label {
	margin: auto;
}

.input-width {
	display: inline-block;
	margin: auto;
	padding-left: 0;
	max-width: 50%;
	min-width: 50px;
}
.inline-block {
	display: inline-block;
	margin: auto;
	text-align: center;
	width: 100%;
	margin-top: 1rem;
}
.card {
	display: inline-block;
	padding: 5px;
	margin-bottom: 5px;
}
.text-justify {
	text-align: justify;
}
.text-center {
	text-align: center;
}

.red {
	background-color: #dc3545;
}

.success {
	background-color: #198754;
}
.orange {
	background-color: orange;
}

.danger {
	background-color: #dc3545;
	color: black;
}

.card-body {
	background-color: white;
	text-align: left;
	border-radius: 5px;
	padding: 5px;
	min-width: 200px;
}
.display-none {
	display: none;
}
.display-show {
	display: inline-block;
}

.style-btn {
	padding: 5px !important;
}

.active {
	color: yellow !important;
	font-weight: bold !important;
}

.switch-on {
	background-color: #198754;
}
.switch-off {
	background-color: red;
}
.form-check-label {
	font-weight: bold;
	color: black;
}
.primary {
	background-color: #0275d8;
}

.customer-card {
	padding: 10px;
	margin: 10px;
	text-align: justify;
}
.border-green {
	border-radius: 5px;
	border: 2px solid green;
}

.border-red {
	border-radius: 5px;
	border: 2px solid red;
}

.button-design {
	width: 100%;
	border-radius: 5px;
	border: 2px solid orange;
	font-weight: bold;
	font-size: 15px;
	padding: 10px;
	box-sizing: border-box;
	max-height: 100px;
	min-height: 70px;
	margin: auto;
}

hr {
	border-bottom: 5px solid green;
	margin: 5px 0 5px 0;
}

.scroll {
	min-width: 250px;
	height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}

.small {
	max-width: 400px;
	margin: auto;
	padding: 50px 20px 50px 20px;
	font-size: 20px;
	min-width: 300px;
}

.error {
	border: 2px solid red;
	text-align: center;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(118, 207, 232, 0.81);
	color: red;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 20px;
	left: 0px;
}
.parent {
	position: relative;
	min-height: 650px;
}

.pagination .active {
	background-color: rgb(0, 136, 255);
}
